
a.button {
    text-decoration: none;
    display: inline-block;
    padding-top: 14px;
    margin-bottom: auto;
    vertical-align: middle;
    border-radius: 5px;
    background: #aa6767;
    color: #eee;
}
a.button:hover {
    background: #7F4545;
}

.title .content {
    margin: 80px 0 20px 0;
    height: 280px;
    text-align: center;
}

.header {
    font-family: "Roboto Slab";
    font-size: 20px;
    line-height: 50px;
    color: #999;
    padding: 0px 10px;
    height: 50px;
    background: #F5F5F5;
}